@model BurialMainViewModel

@{
    ViewData["Title"] = "View";
}

<form method="get" action="@Url.Action("Burials")">
    <div class="form-group row">
        <div class="col-md-2">
            <input type="text" name="idSearchString" placeholder="Search by ID" class="form-control" value="@ViewData["idFilter"]" />
        </div>
        <div class="col-md-2">
            <input type="text" name="GenderSearchString" placeholder="Gender (M/F)" class="form-control" value="@ViewData["GenderFilter"]" />
        </div>
        <div class="col-md-2">
            <input type="text" name="PreservationSearchString" placeholder="Preservation" class="form-control" value="@ViewData["PreservationFilter"]" />
        </div>
        <div class="col-md-2">
            <input type="text" name="HeadDirectionSearchString" placeholder="Head Direction" class="form-control" value="@ViewData["HDFilter"]" />
        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </div>

</form>
<br />

<table class="table table-bordered table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Sex</th>
            <th scope="col">Preservation</th>
            <th scope="col">Head Direction</th>
            <th scope="col">Age at Death</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Burialmain b in Model.Burialmain)
        {
            <tr>
                <th scope="row">@b.Id</th>
                <td>@b.Sex</td>
                <td>@b.Preservation</td>
                <td>@b.Headdirection</td>
                <td>@b.Ageatdeath</td>
                <td>
                    <form method="get" action="@Url.Action("SingleBurial")">
                        <input type="hidden" name="id" value="@b.Id" />
                        <button type="submit" class="btn btn-outline-secondary">View Details</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<div page-blah="@Model.PageInfo" page-action="Burials" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
